<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ajith.rvsqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".common.Entity.Testing"></activity>
        <activity
            android:name=".View.ListActivity"
            android:label="To.Do">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Model_SQLite.ContentProvider.TodoProvider"
            android:authorities="com.ajith.rvsqlite.Model_SQLite.provider.TodoProvider"
            android:exported="false" />
    </application>

</manifest>